html,
body {
	margin: 0;
	padding: 0;

	color: #000;

	background: #E5E5E5;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--font-family: "Montserrat", sans-serif;
	--black: #3B434E;
	--gray: #A4A4A4;
	--gray-light: #D2D2D2;
	--gray-dark: #6C7077;
	--white: #FFF;
	--primary: #6849DF;
	--primary-hover: #532CF0;
	--red: #FC836D;
	--red-light: #FEA291;
	--green: #007B48;
	--green-light: #C8F8E4;
}
